{% from "utils/toolbars.html" import toolbar_icon, toolbar_label,
   divider, toolbar_button, toolbar_submit_button %}

{% extends "export/html/base.html" %}
{% block title %}{{ coll.title }}{% endblock %}

{% block content %}

<div class="contentbox">

<ul class="toolbar">
<li class="collection-link">{{ coll.title }}</li>
</ul>

{% macro tablink(tabname, tabtitle, url) %}
{% if tabname in tabs %}
{% if tabname == tab %}
  <li class="active"><p>{{ tabtitle }}</p></li>
{% else %}
  <li class="link"><a href="{{ url }}">{{ tabtitle }}</a></li>
{% endif %}
{% endif %}
{% endmacro %}

<ul class="tab_bar">
{% for page in coll.leading_tabs() %}
{{ tablink("x" + page.id, page.title, url("coll-view", id=coll.id, newtab="x" + page.id, newstartrank=0, newshowfull=1, newincsubs=1, **stash)) }}
{% endfor %}
{{ tablink("children", "Subcollections", url("coll-view", id=coll.id, newtab="children", newstartrank=0, newshowfull=1, newincsubs=1, **stash)) }}
{{ tablink("records", "Records", url("coll-view", id=coll.id, newtab="records", newstartrank=0, newshowfull=1, **stash)) }}
{{ tablink("images", "Images", url("coll-view", id=coll.id, newtab="images", newstartrank=0, newshowfull=0, **stash)) }}
{{ tablink("video", "Video", url("coll-view", id=coll.id, newtab="video", newstartrank=0, newshowfull=1, **stash)) }}
{{ tablink("audio", "Audio", url("coll-view", id=coll.id, newtab="audio", newstartrank=0, newshowfull=1, **stash)) }}
{{ tablink("media", "Other Media", url("coll-view", id=coll.id, newtab="media", newstartrank=0, newshowfull=1, **stash)) }}
{#
{{ tablink("calendar", "Calendar", url("coll-view", id=coll.id, newtab="calendar", newstartrank=0, newshowfull=1, **stash)) }}
#}
{{ tablink("parents", "Parent Collections", url("coll-view", id=coll.id, newtab="parents", newstartrank=0, newshowfull=1, newincsubs=1, **stash)) }}
</ul>

<div class="tab_content"><div>
{% if tab[0] == 'x' %}
{{ currpage.display_content(url)|safe }}
{% else %}
{% include "export/html/coll-view-" + tab + ".html" %}
{% endif %}
</div></div>

</div>
{% endblock %}
