<div class="listbox">

<h1>THE NAGAS; AN INTRODUCTION</h1>

<h2>The recording of tribal civilisations; the Nagas.</h2>

<p>There are four major types of human society: hunting and gathering, tribal, peasant and industrial. For most of human history, hunting and tribal societies were the only ones in existence. Today very few such societies remain; most have been totally destroyed during the last hundred years.</p>

<p>The recording and understanding of these alternative social systems are important as a corrective to the assumptions of our industrial society. The destruction of such societies has been so rapid that little has been salvaged, and the few records that survive are rapidly dwindling: the photographs and manuscripts are deteriorating and those with personal experience are now elderly.</p>

<p>This videodisc seeks to develop one way to reconstruct and preserve some of these precious records and to make them available for present and future generations.</p>

<p>One of the few areas in the world where acute observers have documented, over a period of more than a hundred years, the workings of an assembly of tribal societies is on the north- eastern frontier of India. These involve the British contacts with the so-called Naga tribes of the Assam-Burma border.</p>

<p>In many ways the Nagas, who numbered about half a million people at any one point in the period covered by this videodisc, are representative of the forest dwelling tribesmen who once inhabited large areas of South-east Asia, the Pacific, South America and Central Africa.</p>

<p>A combination of circumstances has given us a particularly rich record of Naga culture. Firstly, the precipitous mountains and thick forest, as well as the warlike head-hunting reputation of the peoples deterred outsiders from entering the area until very late. The period of contact, starting effectively in the 184Os, was unusually gradual, lasting over a century until Indian Independence in 1947.</p>

<p>It was only with the Second World War and the combined influence of missions, education and economic growth that the situation changed profoundly. Little research has been possible in Nagaland since 1947, and the bulk of the material on the present videodisc therefore relates to the period up to that date.</p>

<p>Thus we have for the Nagas a series of historical records spread over a century, each analysing aspects of a set of tribal societies sufficiently isolated to maintain much of their ancient social systems, yet with a loose attachment to the British Empire. This encouraged outsiders to try to understand the traditional ways of life in order to administer and adjudicate the expanding Empire in the north-east.</p>

<p>The relative lateness of the contact means that the second fifty years of documentation were within the era of photography and the last few years within that of the moving film. The involved interest of the District Officers as collectors and analysts ensured the survival of large numbers of artefacts.</p>

<p>All this provided the context which made study and recording possible, but only good fortune brought to the Naga Hills a series of very gifted observers. These men and women became so involved with the Nagas that they assembled large collections of all kinds of material despite linguistic and practical difficulties.</p>

<p>Although we are forced to look at the Nagas through alien and outsiders' eyes, over the shoulders of the observers, there is enough material to glimpse a world that has now practically vanished. Here we will try to provide a very brief description of a few of the outstanding features of Naga society as they described it.</p>

<h2>A few of the central features of Naga society.</h2>

<p>A number of features made the Nagas particularly interesting to European observers. There was first their mysterious history. First mentioned by Ptolemy in about 15O A.D., it was clear that the Naga tribes had only coalesced recently in the patterns which the British discovered. After millennia of wandering, a number of different ethnic groups had ended up in the hills of the Eastern Himalayas.</p>

<p>Strange coincidences of culture and language through the Pacific led some scholars to suggest that the Nagas were an off-shoot of groups which had originally descended from the central Asian plateau. Their burial customs, ornamentation, agricultural practices and even games and crafts, linked them strongly to the tribal peoples of Borneo and the Philippines. Here was a culture which might provide clues to some of the great migrations in human history.</p>

<p>Equally intriguing was their contemporary material culture. Like many tribal groups who practice the labour-efficient methods of swidden (slash and burn) cultivation of rice, the Nagas had a great deal of leisure, and large surpluses of grain. They used this to develop an elaborate and beautiful world in the forests.</p>

<p>They were expert craftsmen and artists, making their social and cultural patterns explicit through ornamentation and display. Through colour and pattern in their material culture the Nagas revealed their social and ritual status.</p>

<p>From the earliest period of contact, visitors were struck by the Nagas' carved and thatched houses, woven cloths and wooden carvings, distinctive hairstyles and body tattoos, and their songs and dances.</p>

<p>European attitudes were more mixed about other aspects of Naga society. Nakedness, youth dormitories and a relaxed attitude to sexual experimentation aroused more ambivalent reactions. Yet by the turn of the century their uninhibited way of life, their physical attractiveness, and their personal loyalty and frankness, had won the hearts of many observers and administrators.</p>

<p>It had not always been thus. The antipathy of the Nagas to the colonial expansion of the British resulted in an Angami Naga rebellion in 1878. The suppression of this revolt was followed by the expansion of the 'administered areas' (where Nagas paid taxes and supplied labour) in the 2Oth century. But the development of British 'indirect rule' and its pragmatic tolerance perhaps explains why by 1944 many Nagas opted to help the British in repelling the Japanese advance into India.</p>

<p>Other features of Naga society also attracted attention, including their political systems ranging from autocratic chiefs to almost pure democracy in neighbouring tribes, and their ecological adaptation to a harsh terrain. In the elaborate terraced rice cultivation of the Angami Nagas and the shifting cultivation of most of the other Naga tribes, it was possible to see traditional systems of agriculture in undisturbed operation.</p>

<p>One had some picture of how men must have lived in forests over hundreds of thousands of years. Each stage of the agricultural operation and its close interweaving with ritual and taboo was noted by the observers.</p>

<p>Two outstanding features of the varied cultures particularly drew attention, the Naga concern with death and with the human skull.</p>

<p>Although exuberantly alive, what gave real meaning to Naga society was death and the manner of dying. Despite the absence of written records, through myth and particularly in material memorials, the names and deeds of ancestors were to be remembered.</p>

<p>Most dramatically, this was done through the erection of massive stones, dragged by teams of villagers through the jungle and erected as the culmination of grand 'feasts of merit' to celebrate the power and deeds of great men. The world which was only vaguely remembered in the standing stones of Europe or the Pacific was still alive among the Nagas.</p>

<p>All of Naga life had its ritual aspect: all activities, from simple household and economic tasks up to dancing and feasting, had a mystical or religious significance. The spirits which controlled the realities of Naga life, disease, human and crop fertility, rain, needed constant attention.</p>

<p>The human head, the seat of wisdom and the human soul, was the repository and conductor of power. This was true, irrespective of whether the head was that of a child, a man, a woman, alive or dead. He who owned another's head gained prosperity in this world, the esteem of his fellows, and a guaranteed happiness in the after-world. The best way to own a head was to take one by force.</p>

<p>Forest tribal peoples, for instance the peoples of New Guinea or the Amazon, are often very war-like. To seize the wealth and labour of other groups is a more congenial way to affluence and power than by hard work in agriculture. There is no political organisation above the level of the clan or village to prevent war.</p>

<p>In this world of a war of all against all, the Nagas added the ritual importance of head-hunting. Life was given its central purpose by the quest for heads. Boys would not become men without the ritual tattooing only to be undertaken after a successful head-hunt; girls would not be attracted to men without the splendid head-hunting dances and decorations. Success and merit in every field depended on heads.</p>

<p>This presented administrators and anthropologists with one of their major challenges. By the turn of the century, they were well aware of the logic of the system and could recognise that if head-hunting were rapidly abolished (as it had been in other parts of the Empire) it would be the equivalent of destroying money, markets and the profit motive in a capitalist society. There would be little point to life any more.</p>

<p>Yet the western conscience could not condone the cruelty, nor was the 'pax Britannica' very plausible in a world of almost ceaseless feuding. So the observers tried to study, modify and re-shape the institution, while the Nagas tried to incorporate the observers into their world.</p>

<p>The mutual relations between these strikingly different, yet admiring and basically tolerant points of view, run through the literature. They pose the broadest questions concerning ethical relativism, the preservation or destruction of alternative modes of thought and deed, the rights to interfere.</p>

<p>These problems were exacerbated by the growing number of Christian missionaries in the hills who were trying to convert the Nagas from their supposedly 'heathen' religion, morality and social customs.</p>

<p>Out of this conflict of two civilisations based on entirely different premises there came thousands of images and descriptions of the Nagas. This videodisc gives access to many of those images. Since Independence in 1947 there have been great changes and only a part of what is represented here has survived.</p>

</div>
