{% from "utils/toolbars.html" import toolbar_label, divider %}
{% from "utils/thumbnail.html" import thumbnail %}
# if offset <= 0:
#  set prevurl = ''
#  set firsturl = ''
# else:
#  set prevurl = url('record-gallery', id=record.id, offset = offset - 1)
#  set firsturl = url('record-gallery', id=record.id, offset = 0)
# endif
# if offset + 1 >= images|count:
#  set nexturl = ''
#  set lasturl = ''
# else:
#  set nexturl = url('record-gallery', id=record.id, offset = offset + 1)
#  set lasturl = url('record-gallery', id=record.id, offset = images|count - 1)
# endif
# set image = images[offset]

# macro button(name, description, target)
<li>
# if target == ''
<img src="{{- url('static', 'icons/buttons/custom/' + name + '_greyed.png') -}}" alt="{{ description }}" title="{{ description }}" height="35" width="48">
# else
<a href="{{ target }}" class="button_{{ name }}"><img src="{{ url('static', 'icons/buttons/custom/' + name + '.png') }}" alt="{{ description }}" title="{{ description }}" height="35" width="48"></a>
# endif
</li>
# endmacro

<!doctype html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 <title>Gallery for {{ record.title }} - Exploratour</title>
 <link rel="shortcut icon" href="{{ url('static', 'favicon.png') }}"/>
 <link href="{{ url('static', 'css/screen.css') }}" rel="stylesheet" type="text/css">
 {% include "widgets/js_all.html" %}
 <script src="{{ url('static', 'js/zoomer.js') }}" type="text/javascript"></script>
{% if image.size %}
 <script type="text/javascript">
$(function() {
  init_zoomer({{ image.size[0] }}, {{ image.size[1] }},
	      $('.imagebox'), $('#image'));
});
 </script>
{% endif %}

</head>
<body>
 <div class="gallery">
  <ul class="navbar">
   {{ button("first_record_35height", "First image", firsturl) }}
   {{ button("previous_record_35height", "Previous image", prevurl) }}
   <li>{{ offset + 1 }} / {{ images|count }}</li>
   {{ button("next_record_35height", "Next image", nexturl) }}
   {{ button("last_record_35height", "Last image", lasturl) }}
   <li>{{ image.title }}</li>
  </ul><div class="imagebox">
   <img id="image" src="{{url('media', path=image.src)}}">
  </div>

 </div>
</body>
