{% from "search/sortvalue.html" import show_order_value %}
 <ul class="buttonbar">
{% include "search/resultlist_toolbar.html" %}
 </ul>

<input type="hidden" name="rso" value="{{ search.resultids|jsvalattr }}">
 <div class="listbox" id="recordlist">
  <ol>
{% for item in search.resultlist %}
   <li class="selectitem listitem record">
<input type="checkbox" name="rs" value="{{ item.data.id.0 }}" class="recordselect highlightselect"/>

{%- if not showfull -%}
{{ show_order_value(item, order) }}
{%- endif %}
{{ item.data.title[0] }}
{%- if showfull -%}
<div style="padding-bottom: 0.7em;">
{%- set summary=item.summary -%}
{{- summary|safe -}}
{%- if summary|length != 0 -%}<br>{%- endif -%}
<small><i>Last modification {{ item.data.mtime[0]|fmtdatestamp("on %d %b %Y at %H:%M:%S") }}</i></small></div>
{%- endif -%}

   </li>
{% endfor %}
  </ol>
  <div style="clear: both;"></div>
 </div>

{% include "search/resultlist_paginatebar.html" %}
