{% from "utils/toolbars.html" import toolbar_button, toolbar_icon, toolbar_label, toolbar_label3, divider %}
{%- macro show_collections(record) -%}

{%- for coll in record.collection_nav -%}

<ul class="toolbar">
{%- if coll.prev -%}
{{- toolbar_button(48, "previous_record", "Previous: " + coll.prev.title, url_for("records.view", id=coll.prev.id)) -}}
{%- else -%}
{{- toolbar_button(48, "previous_record", "Previous", "") -}}
{%- endif -%}

{{ toolbar_icon(48, "collection", "Collections", '') }}
{{ toolbar_label3(48, url_for("collections.collection_records", id=coll.id), coll.title, coll.pos|string + " / " + coll.record_count|string) }}

{%- if coll.next -%}
{{ toolbar_button(48, "next_record", "Next: " + coll.next.title, url_for("records.view", id=coll.next.id)) }}
{%- else -%}
{{ toolbar_button(48, "next_record", "Next", '') }}
{%- endif -%}
</ul>

{% endfor %}

{% if record.locked_collections %}
<p>This record is also in the following collections which are hidden by the lock:</p>
<ol class="flowed">
{% for coll in record.locked_collections %}
<li class="collection-link">{{ coll.title }}</li>
{% endfor %}
</ol>
{% endif %}

{%- endmacro -%}
