{% extends "base.html" %}
{% block title %}Confirm collection deletion{% endblock %}

{% block content %}

<h1 class="warningbox">Confirm deletion of collection &quot;{{ coll.title }}&quot;</h1>

<form autocomplete="off" action="{{ url("coll-delete", id=coll.id) }}" method="POST">
{% for param, values in (params|listify_values).items() %}
{% if param != "delete" and param != "id" %}
{% for value in values %}
<input type="hidden" name="{{ param }}" value="{{ value }}">
{% endfor %}
{% endif %}
{% endfor %}
<input type="submit" name="delete_conf" value="Delete">
<input type="submit" name="delete_cancel" value="Cancel">
</form>

{% endblock %}
