<div class="calendar-navbar centered-list">
<ol>
<li>{{ button("custom/previous_record_35height", 48, 35, "Previous", prevlink, class="button noborder") }}</li>
<li class="cal-date-select">
<form action="{{ url("coll-view", id=coll.id, **stash) }}">

<select name="newday" class="submitonchange">
{% for d in range(1, 32) %}
<option value="{{ d }}" {% if d|int == day|int %}selected{% endif %}>{{ d }}</option>
{% endfor %}
</select>

<select name="newmonth" class="submitonchange">
{% for m in months %}
<option value="{{ m[0] }}"  {% if m[0] == month|int %}selected{% endif %}>{{ m[1] }}</option>
{% endfor %}
</select>

<select name="newyear" class="submitonchange">
{% for y in years %}
<option value="{{ y }}"  {% if y|int == year|int %}selected{% endif %}>{{ y }}</option>
{% endfor %}
</select>
</form>
</li>
<li>{{ button("custom/next_record_35height", 48, 35, "Next", nextlink, class="button noborder") }}</li>
</ol>
</div>

<div class="listbox" id="recordlist">
<ol>
{% for record in records %}
<li>

<img src="{{ url('static', '/icons/buttons/24/record.png') }}" width="24" height="24" alt="Record">
<a href="{{ url("record-view", id=record.id, **stash) }}">{{ record.title }}</a>
<div style="padding-bottom: 0.7em;">
{{- record.summary(maxlen=300)|safe -}}
</div>

</li>
{% endfor %}
</ol>
</div>
