{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ record.title }}{% endblock %}</h1>
{% endblock %}

{% block content %}

Record: {{ record.title }}<br>
Last Modified: {{ record.mtime }}

<table class="simple_record_view"><tbody>
{% for field in record.fields.fields %}

{%- if field.type == "title" %}
<tr class="title_field">
<td colspan="2"><h1 class="fieldval">{{ field.title }}</h1></td>
</tr>

{%- elif field.type == "text" %}
<tr class="text_field">
<td class="label">{{ field.name }}:</td>
<td class="fieldval">{{ field.text|safe }}</td>
</tr>

{%- elif field.type == "date" %}
<tr class="date_field">
<td class="label">{{ field.name }}:</td>
<td class="fieldval">{{ field.date_string }}</td>
</tr>

{%- elif field.type == "location" %}
<tr class="location_field">
<td class="label">{{ field.name }}:</td>
<td class="fieldval">{{ field.text }} {{ field.latlong }}</td>
</tr>

{%- elif field.type == "file" %}
<tr class="file_field">
<td class="label">{{ field.name }}:</td>
<td class="fieldval">

  {%- if field.display == field.DisplayTypes.thumb %}
  <img src="{{ field.src }}" width="" height="" title="{{ field.title }}" alt="{{ field.alt }}">{{ field.src }}
  {%- else %}
    {{ field.display }}
  {%- endif -%}

</td>
</tr>

{%- else %}
<tr>
<td class="label">Unknown field type: {{field.type}}: {{ field.name }}</td>
</tr>
{% endif %}
{% endfor %}
</tbody></table>

<hr>
Collections:
<ul>
{% for collection in record.collections %}
<li>
  {%- set position = collection.record_position(record) -%}
  {%- set prev = collection.record_at_position(position - 1) -%}
  {%- set next = collection.record_at_position(position + 1) -%}
  <a href="{{ url_for("collections.collection_records", id=collection.id) }}">
  {{- collection.title -}}</a>
  ({{- position }} / {{ collection.record_count -}})
  {% if prev %}<a href="{{ url_for("records.view", id=prev.id) }}">Prev: {{ prev.title }}</a>{% endif %}
  {% if next %}<a href="{{ url_for("records.view", id=next.id) }}">Next: {{ next.title }}</a>{% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}

