{% from "utils/toolbars.html" import record_tools, toolbar_icon, toolbar_button, toolbar_label, divider %}
{% from "utils/collections.html" import show_collections %}

{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<div class="sheath content">

<div class="contentbox">

  <ul class="toolbar">
    {{ toolbar_icon(48, "record", "Record", '') }}
<li style="height: 60px; line-height: 30px;">
    {{ record.title }}<li>
<!--<li style="height: 60px; line-height: 30px;">
	Last Modified: {{ record.mtime }}</li>-->
    {{ divider(48) }}
  </ul>
<div style="clear: both;"></div>

<div class="recordbox">

<table class="simple_record_view"><tbody>
{% for field in record.field_runs %}
{{ field.name }}
{% include field.template %}
{% endfor %}

{#
{%- if field.type == 'group' -%}

{%- if field.closing -%}
</table></fieldset></td></tr>
{%- else -%}
<tr><td colspan="2">
  <fieldset><legend>{{ (field.name or '') }}:</legend><table>
{%- endif -%}

{%- else -%}

{%- endif -%}
<tr class="{{ field.type }}_field">
{%- endif -%}

{% include field.template %}

{%- endif -%}

{% endfor %}
#}
</tbody></table>
</div>

{{ show_collections(record) }}
<div style="clear: both;"></div>

</div>
</div>
{% endblock %}
