{% from "utils/toolbars.html" import record_tools, toolbar_icon, toolbar_button, toolbar_label, divider %}
{% from "utils/collections.html" import show_collections %}

{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<div class="sheath content">

<div class="contentbox">

  <ul class="toolbar">
    {{ toolbar_icon(48, "record", "Record", '') }}
<li style="height: 60px; line-height: 30px;">
    {{ record.title }}<li>
<!--<li style="height: 60px; line-height: 30px;">
	Last Modified: {{ record.mtime }}</li>-->
    {{ divider(48) }}
  </ul>
<div style="clear: both;"></div>

<div class="recordbox">

<table class="simple_record_view"><tbody>
{% for field in record.flat_fields %}

{%- if field.type == 'group' -%}

{%- set prevtype='' -%}
{%- if field.closing -%}
</table></fieldset></td></tr>
{%- else -%}
<tr><td colspan="2">
  <fieldset><legend>{{ (field.name or '') }}:</legend><table>
{%- endif -%}

{%- else -%}

<!-- if prevtype == field.type and prevname == field.name and field.type in ("tag", "file", "location", "date") -->
{%- if prevtype == field.type and prevname == field.name and field.type in ("tag",) -%}
{%- set continue=True -%}
{%- else -%}
{%- set continue=False -%}
{%- if open -%}
</td></tr>
{%- endif -%}
<tr class="{{ field.type }}_field">
{%- endif -%}

{% include "records/fields/" + field.type + "/field_view.html" %}

{%- set prevtype=field.type -%}
{%- set prevname=field.name -%}
{%- set prevdisplay=field.display -%}
{%- set prevmimetype=field.mimetype -%}
{%- set open=True -%}
{%- endif -%}

{% endfor %}
</tbody></table>
</div>

{{ show_collections(record) }}
<div style="clear: both;"></div>

</div>
</div>
{% endblock %}
